# Environment Variables

# Neon PostgreSQL connection string
DATABASE_URL=postgresql://neondb_owner:npg_0KfgnawGRQ1s@ep-fragrant-term-aiv7d4tv-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret Key
JWT_SECRET_KEY=your_jwt_secret_key

# Other environment variables
OTHER_VARIABLE=value
